<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='admin/logo.png') }}" type="x-icon">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='admin/styles/dashboard.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='admin/styles/reports.css') }}"
    />
    <title>Professor Dashboard</title>

    
  </head>
  <body>
    <div class="grid-container">
      <aside>
        <div class="toggle">
          <div class="logo">
            <img src="{{ url_for('static', filename='admin/logo.png') }}" />
            <h2>NU<span class="danger">GITS</span></h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp"> close </span>
          </div>
        </div>

        <div class="sidebar">
          <a href="#" class="active">
            <span class="material-icons-sharp"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="/professor/referral_form">
            <span class="material-icons-sharp"> psychology </span>
            <h3>Referral</h3>
          </a>
          <a href="#" id="logoutbtn">
            <span class="material-icons-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <main class="main-container">
        <div class="main-title">
          <h1 class="first-title">Professor's Dashboard</h1>
          <div class="dark-mode">
            <span class="material-icons-sharp active"> light_mode </span>
            <span class="material-icons-sharp"> dark_mode </span>
          </div>
          <div class="info">
            
            <p>Hey, <b>{{faculty.firstName}} {{faculty.lastName}}</b></p>
            <small class="text-muted">{{email}}</small>
          </div>
          <div class="profile-photo">
            <img src="{{ url_for('static', filename='assets/user_profile.png') }}" style="width: 50px; height: 50px;"/>
          </div>
        </div>


        <div class="analyse">
            <div class="sales" style="width: 300px;">
                <div class="status" style="display: flex; justify-content: center; align-items: center; text-align: center;">
                    <div class="info1">
                        <h3 style="margin-left: 0px; color: var(--color-dark);">Number of Referrals</h3>
                        <h1 style="margin-left: 0px; color: var(--color-dark);">{{total}}</h1>
                    </div>
                </div>
            </div>

        </div>

        

        <div class="recent-orders">
          <h2 style="color: var(--color-dark);">Recent Referrals</h2>
          <table>
            <thead style="color: var(--color-dark);">
              <tr>
                <th>Full Name</th>
                <th>Date</th>
                <th>Course</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="referral-body" style="color: var(--color-dark);">
            {% for referrals in referrals %}
              <tr>
                  <td>{{ referrals.form2.studFname }}</td>
                  <td>{{ referrals.form2.date }}</td>
                  <td>{{ referrals.form2.college }}</td>
                  <td>{{ referrals.form3.status }}</td>
                  <td style="cursor: pointer; color: var(--color-primary);">Details</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </main>

    </div>


    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const darkModeToggle = document.querySelector('.dark-mode');

        const currentTheme = localStorage.getItem('theme');
        if (currentTheme) {
            const isDarkMode = currentTheme === 'dark';
            document.body.classList.toggle('dark-mode-variable', isDarkMode);
            darkModeToggle.querySelector('span:nth-child(1)').classList.toggle('active', !isDarkMode);
            darkModeToggle.querySelector('span:nth-child(2)').classList.toggle('active', isDarkMode);
        }

        darkModeToggle.addEventListener('click', () => {
            const isDarkMode = document.body.classList.toggle('dark-mode-variable');
            localStorage.setItem('theme', isDarkMode ? 'dark' : 'light');
            darkModeToggle.querySelector('span:nth-child(1)').classList.toggle('active', !isDarkMode);
            darkModeToggle.querySelector('span:nth-child(2)').classList.toggle('active', isDarkMode);
        });
      });
    </script>

    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    
    <script type="text/javascript">
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);

      
    </script>

    <script>
      function confirmLogout() {
          if (confirm("Are you sure you want to log out?")) {
              window.location.href = "/logout";
          }
      }
 
      document.querySelector('#logoutbtn').addEventListener('click', confirmLogout);
    </script>

    
  </body>
</html>
