*{
    font-family: 'Poppins', system-ui;
}

:root{
    --color-primary: #a8d0e6;
    --color-danger: #f76c6c;
    --color-success: #24305e;
    --color-warning: #f8e9a1;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variable{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 14px;
}

body, html{
    height: 100%;
    width: 115%;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container .container-glass{
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    background: var(--color-white);
    justify-content: center;
    align-items: start;
    width: 235px;
    height: 350px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.container .container-glass .content-glass{
    margin-top: 1.8rem;
    background: var(--color-white);
    width: 200px;
    height: 85%;
    overflow-y: auto;
}

.container .container-glass .content-glass h1{
    text-align: center;
    color:var(--color-dark-variant);
}

.container .container-glass .content-glass p{
    text-align:justify;
    padding-right: 10px;
    margin-left: 10px;
    color:var(--color-dark);
}

.container .container-glass .content-glass::-webkit-scrollbar {
    width: 8px;
}

.container .container-glass .content-glass::-webkit-scrollbar-track {
    background: #fff;
}

.container .container-glass .content-glass::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px; 
}

.container .container-glass .content-glass::-webkit-scrollbar-thumb:hover {
    background: #555;
}