.grid-container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
    grid-template-areas: "sidebar main main main";
}

.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-dark);
}

.referral-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 60px;
}

.referral-card{
    background-color: var(--color-white);
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.referral-card h2{
    color: var(--color-dark);
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80%;
    margin-top: 40px;
}

.buttons input{
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    color: var(--color-white);
    border-radius: 5px;
    width: 100px;
    height: 50px;
}